.container {
  height: 100vh;
  background-image: url("../assets/backgrounds/clearDay.jpg");
  background-size: cover;
  background-position: center;
  padding: 0.7rem;
}

.blur {
  height: 100%;
  background: rgba(116, 116, 116, 0.31);
  border-radius: 1.3rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(7.4px);
}

@media screen and (min-width: 50rem) {
  .blur {
    width: 30rem;
  }
}
