*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, p, ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(171, 168, 168, 0.7);
  border-radius: 100vw;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: rgba(171, 168, 168, 0.7) transparent;
  }
}
